body{
    background-color: rgb(68, 68, 68) !important;
}
h1{
    font-weight: bolder;
    color: bisque !important;
}

small{
    font-weight: bolder;
    color: bisque;
}
div{
    color: white;
}

i{
    display: block;
}